  /* import the font */
  @font-face {
    font-family: 'Open Sans';
    src: url('fonts/webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         
  }


  select:after {
    content: '\A';
    white-space: pre;
  }
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /*     text-align: center; */
  }

  /* Modal Content/Box */
  .modal-content {
      background-color: #fefefe;
      margin: 5% auto;
      width: 50%;
      min-width:300px;
      font-family: 'Open Sans', sans-serif;
      text-align:center;
  }

  /* The Close Button */
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      padding-right:10px;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }

  hr {
    margin:0;
  }

/*
error fields
*/

  .errors {
    display: none;
    background: #f5cece url('../img/alert.png') 10px 20px/50px 50px no-repeat;
  }
  .error-title {
    font-size:12px;
    color:red;
    text-align: left;
    padding-top: 20px;
    width: 70%;
    margin:0 auto;
  }
  .error {
    margin:10px auto;
    width:60%;
    min-width: 200px;
    text-align: left;
    font-size: 12px;
    color:red;
    padding-bottom: 10px;
  }
  .error a {
    color:red;
    text-decoration: none;
  }
  .error a:hover {
    color:black;
  }
  .red {
    background-color:#f5cece;
  }



  .title_description h4 {
    margin:0;
    font-size:18px;
    text-align: left;
    font-weight:600;
    padding:10px 0 5px 15px;
    color:white;
    background-color:#303030;
  }
  .title_description h2 {
    font-size:30px;
    font-weight:200;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .title_description span {
    font-size:8px;
    margin:0;
    padding:0;
    color:grey;
    width:100%;

  }
  .required {
    color:darkred;
    font-size:8px;
    vertical-align:top;
  }

  form {
    padding:20px;
    text-align:left;
  }

  fieldset {
    border:1px solid #e3e3e3;
  }

  input {
      margin:0 auto;

      width: 100%;
  }



  textarea {
    display: block;
    width:90%;
    height:100px;
    resize:none;
    margin-left: 8px;
    border:1px solid #c3c3c3;
  }

  select {
    width:221px;
  }

  label {
      display: inline-block;
      font-size:12px;
      margin-top:5px;
  }

  .resize_fuel {
    width:82px;
  }
  .resize_color {
    width: 68px;
  }

  


  .year {
    width:50px;
  }


  .price_det .price {
    display:inline-block;
    margin-right: 5px;
  }
  .price_det input {
    text-align:right;
    width: 60px;
  }
  .price_det .currency {
    display:inline-block;
  }
  .price_det .currency select {
    width:120px;
  }

  .main_description {
    display:block;
  }



  .section_two {
      margin-top:20px;
  }


  select .icon-menu option {
  background-repeat:no-repeat;
  background-position:bottom left;
  padding-left:30px;
  }

  .selected_brand {
      display: block;
      width: 50px;
      height: 50px;
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
    }

  .selected_color {
      display: inline-block;
      height: 10px;
      width: 10px;
  }
  .mileage {
    width:100px;
  }
  .unit {
    font-size:10px;
    margin-left:3px;
  }

  .suplim {
      display:none;
  }
  
  .damaged {
      display: inline-block;
  }
  .damage-details {
    margin:10px 0;
  }

  .full {
    width:90%;
    margin-left:8px;
    display: block;
  }

  .toggle-check input[type="checkbox"] {
      display:inline-block;
      width:10px;
  }

  /*
  .toggle-check {
      display:inline-block;
       -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;  
  }

  .toggle-check-input {
    width: 0.8px;
    height: 0.5px;
    position: absolute;
  }


  .toggle-check-text {
      font-size:0.8em;
    display: inline-block;
    position: relative;
    
    background: #CCC;
    padding: 0.1em 0.35em 0.1em 1.5em;
    border-radius: 0.5em;
    min-width: 1em;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  .toggle-check-text:after {
    content: ' ';
    display: block;
    background: #FFF;
    width: 1em;
    height: 1em;
    border-radius: 0.6em;
    position: absolute;
    left: 0.3em;
    top: 0.3em;
    transition: left 0.15s, margin-left 0.15s;
  }

  .toggle-check-text:before {
    content: 'No';
  }

  .toggle-check-input:checked ~ .toggle-check-text {
    background: #8ad869;
    padding-left: 0.35em;
    padding-right: 1.5em;
  }

  .toggle-check-input:checked ~ .toggle-check-text:before {
    content: 'Yes';
  }

  .toggle-check-input:checked ~ .toggle-check-text:after {
    left: 100%;
    margin-left: -1.3em;
  }
  */
   
  .submit {
    margin: 10px;
    text-align: right;
  }

  button {
    -moz-box-shadow: 0 1px 0 0 #ffffff;
    -webkit-box-shadow: 0 1px 0 0 #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:4px 19px;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;
  }
  button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
  }
  button:active {
    position:relative;
    top:1px;
  }
